/* AUTOCOMPLETE by Olzhas Kurenov */

.autocomplete{
    width: 100%;
    position: relative;
}

.autocomplete input {
    box-sizing: border-box;
    font-size: 1.2em;
    width: 250px;
    padding:0.4em;
}

.autocomplete ul{
    position: relative;
    box-sizing: border-box;
    left: 0;
    width: 250px;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    background-color: white;
    padding: 0;
    margin: 0;
}

.autocomplete li{
    text-align: left;
    list-style:none;
    box-sizing: border-box;
    width: 248px;
    padding:10px 5px;
    border-top: 1px solid #bbb;
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
}

.autocomplete li:hover {
    background-color: #eee;
}

.autocomplete li.active{
    width: 100%;
    background-color: #eee;
}

.autocomplete .bold {
    /*background-color: #E2E2E2;*/
    font-weight: bold;
}

.highlight {
    background-color: #E2E2E2;
}

.autocomplete li.active .bold {
    /*background: #666;*/
    /*color: #fff;*/
}

.autocomplete-small-text {
    color: #999;
    font-size: 10px;
}
